/*=================================================================
=            High Sierra - Design a Pack Custom Styles            =
=================================================================*/

/* Steps */

.steps-row {

}

.steps-item {

}

.step-icon {

}

.step-label {

}

a.button {

}

