<div class="steps-row">
    <div class="step-item">
        <img class="step-icon" src="http://i.imgur.com/0GYhDuo.png">
        <h3 class="step-label">Download the design template</h3>
        <a class="button" href="#">Download Template</a>
    </div>
    <div class="step-item">
        <img class="step-icon" src="http://i.imgur.com/qDSieSJ.png">
        <h3 class="step-label">Create an original 8”x 8” design</h3>
        <p><em>Please note: no third party patterns or prints will be accepted.</em></p>
    </div>
    <div class="step-item">
        <img class="step-icon" src="http://i.imgur.com/kXEalUr.png">
        <h3 class="step-label">Submit your design by the February 29, 2016 deadline.</h3>
        <a class="button" href="#">Submit Design</a>
    </div>
</div>